﻿@model PublicWebSite.Models.Link

@{
    ViewBag.Title = @PublicWebSite.Resources.Common.CreatLink;
}

<h2>@PublicWebSite.Resources.Common.CreatLink</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.LinkAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LinkAddress)
            </div>
            @Html.LabelFor(model => model.LinkAddress, new { @class = "control-label col-md-2" })
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@PublicWebSite.Resources.Common.Insert class="btn btn-default" />
               
                <a href="~/LinkList" class="btn btn-primary  " role="button">
                    @PublicWebSite.Resources.Common.BackToList
                    <span class="glyphicon glyphicon-circle-arrow-left"></span>
                </a>
</div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
