﻿@model IEnumerable<PublicWebSite.Models.Link>
@{
    ViewBag.Title = @PublicWebSite.Resources.Common.LinList;

}

<h2>@PublicWebSite.Resources.Common.LinList</h2>

<a href="~/LinkList/Create" class="btn btn-warning" role="button">@PublicWebSite.Resources.Common.New</a><!--p>

    Html.ActionLink(@PublicWebSite.Resources.Common.New, "Create")
</p -->
<h2></h2>
<div id="printDiv">
    <table class="table">
        <tr class="h4">
            
            <td>
                @PublicWebSite.Resources.Common.Title
            </td>
            <td>
                @PublicWebSite.Resources.Common.SiteAddress
            </td>
            <td>
                
            </td>




        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.LinkAddress
                </td>
                <td>
                    @Html.ActionLink(@PublicWebSite.Resources.Common.Delete, "Delete", new { id = item.Id })
                </td>
                
            </tr>
        }

    </table>

</div>

