﻿
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="panel panel-default" style="direction: rtl;width: 100%;">
    <div class="panel-heading" style="text-align: right">درباره ما</div>
    <div class="panel-body">
        @Html.Action("LoadAbouttUs", "Main")
    </div>
</div>

