﻿@{
    ViewBag.Title = PublicWebSite.Resources.Common.YouPayList;
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="panel panel-default" style="direction: rtl; width:100%;">
    <div class="panel-heading" style="text-align: center"> @PublicWebSite.Resources.Common.PaymentResult</div>
    <div class="panel-body">
        <h3>@ViewBag.PaymentMessage</h3>
        <hr/>
        <h3>@ViewBag.paymentError</h3>

    </div>

</div>


