﻿@{
    ViewBag.Title = "ChangePasswod";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="panel panel-default" style="direction: rtl;width: 100%;">
    <div class="panel-heading" style="text-align: right">تغییر رمز عبور</div>
    <div class="panel-body">
        @using (Html.BeginForm("ChangePasswordPost", "Main"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" style="text-align: center">






                <div class="form-group">

                    <div class="col-md-10">

                        <input type="password" name="OldPassword" class="form-control" />
                    </div>
                    @PublicWebSite.Resources.Common.OldPassword
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="password" name="NewPassword" class="form-control" />
                    </div>
                    @PublicWebSite.Resources.Common.NewPassword
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="password" name="RepeatPassword" class="form-control" />
                    </div>
                    @PublicWebSite.Resources.Common.RepeatPassword
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value=@PublicWebSite.Resources.Common.Insert class="btn btn-default" />
                    </div>
                </div>
                <hr />
                <span style="color: red">@ViewBag.PasswordMessage</span>
            </div>

        }
    </div>
</div>

