﻿@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="panel panel-default" style="direction: rtl;width: 100%;height: 900px;">
    <div class="panel-heading" style="text-align: right">تماس با  ما</div>
    <div class="panel-body">
        @Html.Action("LoadContactUs", "Main")
        <hr />
        @using (Html.BeginForm("ContactUsPost", "Main"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" style="text-align: center">


                <div class="form-group">

                    <div class="col-md-10">

                        <input type="text"  name="Title" class="form-control" />
                    </div>
                    @PublicWebSite.Resources.Common.Title
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="text" name="Email" class="form-control" />
                    </div>
                    @PublicWebSite.Resources.Common.Email
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <textarea rows="10" name="Body" class="form-control"></textarea>
                        
                    </div>
                    @PublicWebSite.Resources.Common.EmailBody
                </div>

               

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value=@PublicWebSite.Resources.Common.SenMessage class="btn btn-default" />
                    </div>
                </div>
                <hr/>
                <span style="color: red">@ViewBag.ContactUsMessage</span>
            </div>

        }
    </div>
</div>
