﻿
@{
    ViewBag.Title = @PublicWebSite.Resources.Common.MainPage;
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="panel panel-default" style="direction: rtl;width:100%; float:right">
    <div class="panel-heading" style="text-align: center">@ViewBag.MainName</div>
    <div class="panel-body">
        @Html.Action("LoadMainPage","Main")
    </div>
</div>