﻿@model IEnumerable<PublicWebSite.Models.News>
@{
    ViewBag.Title = "ShowUserMessage";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="panel panel-default" style="direction: rtl; width: 100%;">
    <div class="panel-heading" style="text-align: center"> اخبار</div>
    <div class="panel-body">
        @foreach (var item in Model)
        {
            <div style="text-align:right">

                <img src="~/Content/Images/News.png" width="30px" height="30px" />
                <a href="ReadNews/@item.Id">@item.Title</a>
                <br />
                <br/>
                <p>
                    @Html.Raw(item.Body)
                </p>
                <hr>
            </div>
        }
    </div>

</div>

