﻿@{
    ViewBag.Title = "پرداخت";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var temp = Request.Form["Text1"];
}

<div >

    @ViewBag.res

    <div class="panel panel-default" style="direction: rtl; width:100%;">
        <div class="panel-heading" style="text-align: center"> پرداخت وجه</div>
        <div class="panel-body">


            <label style="font-size:x-small ;color:green"> مبلغ قابل پرداخت</label> <label style="color:firebrick">@ViewBag.total</label> <label style="font-size:x-small">ریال</label>

            <h2></h2>
            <label style="font-size:small ;color:#970303"><input type="radio" name="type" />پرداخت تمام بدهی</label>
            <h2></h2>

            @using (Html.BeginForm())
            {
                <input name="sum" value=@ViewBag.total type="hidden" />
               <button type="submit" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-shopping-cart"></span> اتصال به بانک</button>
            }
           


            <hr />

           <label style="font-size:small ;color:#970303"><input type="radio" name="type"/> پرداخت اقساط </label>

            <h2></h2>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6"> <input type="text" class="form-control " name="sum" id="2" onkeypress="return IsNumeric(event);" ondrop="return false;" onpaste="return false;" value="0" /></div>
        <div class="col-md-6 text-left">
            <label style="font-size:small ;color:rosybrown">لطفاً مبلغ مورد نظر خود را وارد کنید:</label>
        </div>
        </div>

    <br />

    <button type="submit" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-shopping-cart"></span> اتصال به بانک</button>
    <span id="error" style="color: Red; display: none">*شما تنها میتوانید اعداد بین 0تا9 را وارد نمایید</span>
           
                <script type="text/javascript">
                    var specialKeys = new Array();
                    specialKeys.push(8); //Backspace
                    function IsNumeric(e) {
                        var keyCode = e.which ? e.which : e.keyCode
                        var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
                        document.getElementById("error").style.display = ret ? "none" : "inline";
                        return ret;
                    }
                </script>

    
}

        </div>

    </div>

</div>

@section Scripts {
    @Html.Raw(ViewBag.coInit)
    <script type="text/javascript">
        function postRefId(refIdValue) {
            var form = document.createElement("form");
            form.setAttribute("method", "POST");
            form.setAttribute("action", "https://bpm.shaparak.ir/pgwchannel/startpay.mellat");
            form.setAttribute("target", "_self");
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("name", "RefId");
            hiddenField.setAttribute("value", refIdValue);
            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
            document.body.removeChild(form);
        }
    </script>
}

@*
    <hr />
    <div style="text-align: center">
        <span style="color: red">@ViewBag.YourPayment</span>
    </div>
    <br />
    <div style="text-align: center">
        @using (Html.BeginForm())
        {
            <input name="orderId" value="@ViewBag.orderId" type="hidden" />
            <input name="sum" value="@ViewBag.sum" type="hidden" />

            <input type="submit" style="width:100px;" value="@PublicWebSite.Resources.Common.PayOrder" class="btn btn-primary" />
        }
    </div>
    <div>
        <span style="color: red">@ViewBag.BankError</span>

    </div>



*@