﻿@model PublicWebSite.Models.News
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="panel panel-default" style="direction: rtl;width:100%;">
    <div class="panel-heading" style="text-align: right">خبر</div>
    <div class="panel-body">
        <h3>@Model.Title</h3>
        <p>
            @Html.Raw(Model.Body)
        </p>
    </div>
</div>

