﻿@model PublicWebSite.Models.Message
@{
    ViewBag.Title = "بسمه تعالی";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="panel panel-default" style="direction: rtl;width: 100%;">
    <div class="panel-heading" style="text-align: right">@Model.Title</div>
    <div class="panel-body">      
        <p>
            @Html.Raw(Model.Body)
        </p>

    </div>
    <hr />
    <div style="text-align:center">
        <input type="button" style="width:100px;" value="@PublicWebSite.Resources.Common.Print" class="btn btn-primary" onclick="printDiv('printDiv');" />
    </div>
    <br/>
</div>

@section scripts
{
    <script language="javascript" type="text/javascript">
        function printDiv(divId) {
            //Get the HTML of div
            var divElements = document.getElementById(divId).innerHTML;
            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;

            //Reset the page's HTML with div's HTML only
            document.body.innerHTML =
              "<html><head><title></title></head><body>" +
              divElements + "</body>";

            //Print Page
            window.print();

            //Restore orignal HTML
            document.body.innerHTML = oldPage;


        }
    </script>
}



<div class="col-md-offset-3 col-md-6 text-center" id="printDiv" hidden="hidden">
    <h2 class="text-center col-md-6" style="font-size:medium;font-family:Tahoma">انجمن صنفی شرکتهای حمل و نقل کالای شهرستان گرمسار و ایوانکی</h2>
      <h4>&nbsp;</h4>
      <label class=" text-left" style="float:left" >تاریخ: @PublicWebSite.Utility.DateTimeUtility.GetPersianDate(System.DateTime.Now) </label>
         <label class=" text-right" style="float:right"> <b>عنوان: @Model.Title</b>
         </label>
   <h2>&nbsp;</h2>
 <hr /> 
     <br />
    

    <p>
        @Html.Raw(Model.Body)
    </p>

</div>