﻿@model IEnumerable<PublicWebSite.Utility.MassageAndUser>

@{
    ViewBag.Title = "ShowUserMessages";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

    <div class="panel panel-default" style="direction: rtl;width: 100% ;height:auto">
        <div class="panel-heading" style="text-align: right">نمایش پیغامهای شما</div>
        <div class="panel-body" >

            <table class="table table-hover">

                <tr>
                    <td class="text-center">عنوان</td>
                    <td></td>
                    <td class="text-center">فرستنده</td>
                    <td></td>
                    <td></td>
                 </tr>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td class="text-center">
                            @if (item.message.IsViewed)
                            {
                                <img src="~/Content/Images/ReadMail.png" width="30px" height="30px" />
                            }
                            else
                            {
                                <img src="~/Content/Images/NotReadMail.png" width="30px" height="30px" />
                            }
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.message.Title)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td class="text-center">
                            @PublicWebSite.Utility.DateTimeUtility.GetPersianDate(item.message.InsertDate)
                        </td>
                        <td class="text-center">
                            @Html.ActionLink(@PublicWebSite.Resources.Common.ShowMessage, "ShowUserMessage", new { id = item.message.Id })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
<hr />

