﻿@model IEnumerable<PublicWebSite.Models.UsersBill>
@{
    ViewBag.Title = PublicWebSite.Resources.Common.YourBillList;
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="panel panel-default" style="direction: rtl; width: 100%;">
    <div class="panel-heading" style="text-align: center"> @PublicWebSite.Resources.Common.YourBillList</div>
    <div class="panel-body" id="printDiv">
        @{
            var temp = ViewBag.pay;
        }

        <table class="table table-hover table-bordered" style="font-size:x-small">

            <tr class="h6" style="color:darkorange">
                <td>
                    <b>
                        @PublicWebSite.Resources.Common.Title
                    </b>
                </td>
                <td>
                    <b>
                        @PublicWebSite.Resources.Common.InsertDate
                    </b>
                </td>
                <td>
                    <b>
                        @PublicWebSite.Resources.Common.Price
                    </b>
                </td>

                <td>
                    <b>
                        وضعیت
                    </b>
                </td>

            </tr>

            @foreach (var item in Model)
            {
                <tr class="te">
                    <td>
                        @item.Title
                    </td>
                    <td>

                        @PublicWebSite.Utility.DateTimeUtility.GetPersianDate(item.InsertDate) 
                    </td>

                    <td>
                        @item.Sum.ToString("##,###")
                    </td>

                    <td>
                        @{temp = temp - item.Sum;}
                        @if (temp >= 0)
                        {

                            <span class="glyphicon glyphicon-ok" style="color:green"></span>  @PublicWebSite.Resources.Common.IsPayed

                        }
                        else
                        { <span class="glyphicon glyphicon-remove" style="color:red"></span> @PublicWebSite.Resources.Common.IsNotPayed }



                    </td>

                </tr>
            }

        </table>

    </div>

    <div style="text-align:center">
        <input type="button" style="width:100px;" value="@PublicWebSite.Resources.Common.Print" class="btn btn-primary" onclick="printDiv('printDiv');" />
    </div>
    <br/>
</div>
<hr/>

<div style="text-align: center">
    <span style="color: red">@ViewBag.YourPayment</span>
</div>
<br/>
<div style="text-align: center">

    <a class="btn btn-primary" href="~/Main/paytotal?id=@ViewBag.id&allbills=@ViewBag.cost&allpay=@ViewBag.pay" >
        پرداخت بدهی
    </a>
</div>

<div>
    <span style="color: red">@ViewBag.BankError</span>
   
</div>

@section Scripts {
   @Html.Raw(ViewBag.coInit) 
    <script type="text/javascript">
        function postRefId(refIdValue) {
            var form = document.createElement("form");
            form.setAttribute("method", "POST");
            form.setAttribute("action", "https://pgw.bpm.bankmellat.ir/pgwchannel/startpay.mellat");
            form.setAttribute("target", "_self");
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("name", "RefId");
            hiddenField.setAttribute("value", refIdValue);
            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
            document.body.removeChild(form);
        }
    </script>

<script language="javascript" type="text/javascript">
    function printDiv(divId) {
        //Get the HTML of div
        var divElements = document.getElementById(divId).innerHTML;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;

        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
          "<html><head><title></title></head><body>" +
          divElements + "</body>";

        //Print Page
        window.print();

        //Restore orignal HTML
        document.body.innerHTML = oldPage;


    }
</script>
   
}
