﻿@model IEnumerable<PublicWebSite.Models.UsersPayment>
@{
    ViewBag.Title = PublicWebSite.Resources.Common.YouPayList;
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="panel panel-default" style="direction: rtl; width: 100%;">
    <div class="panel-heading" style="text-align: center"> @PublicWebSite.Resources.Common.YouPayList</div>
    <div class="panel-body" id="printDiv">

        <table class="table table-hover table-bordered" style="font-size:x-small" hidden="hidden">

            <tr class="h6" style="color:darkorange">

                <td>
                   شناسه پرداخت
                </td>
                <td>
                    @PublicWebSite.Resources.Common.InsertDate
                </td>
                <td>
                    @PublicWebSite.Resources.Common.Price
                </td>
                <td>
                    شماره تراکنش
                </td>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.OrderId
                    </td>

                    <td>
                        @if (item.PayedDate != null)
                        {
                            DateTime temptime = item.PayedDate.AsDateTime();
                            var ho = "  ساعت  ";
                            var re=":";
                                
                            @PublicWebSite.Utility.DateTimeUtility.GetPersianDate(@temptime)

                            @ho
                            @temptime.Hour.ToString()
                            @re
                            @temptime.Minute.ToString()
                        }
                    </td>
                    <td>
                        @item.Amount.ToString("##,###")

                    </td>
                    <td>
                        
                        @if (item.rfid != null)
                        {
                            @item.rfid;
                        }
                    </td>


                </tr>
            }

        </table>
        <hr />
        <span style="color: green">@ViewBag.IsPayed</span>
        <br />
        <span style="color: red">@ViewBag.IsNotPayed</span>

    </div>

    <div style="text-align:center">
        <input type="button" style="width:100px;" value="@PublicWebSite.Resources.Common.Print" class="btn btn-primary" onclick="printDiv('printDiv');" />
    </div>
    
    <br />

</div>
@section scripts
{
<script language="javascript" type="text/javascript">
    function printDiv(divId) {
        //Get the HTML of div
        var divElements = document.getElementById(divId).innerHTML;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;

        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
          "<html><head><title></title></head><body>" +
          divElements + "</body>";

        //Print Page
        window.print();

        //Restore orignal HTML
        document.body.innerHTML = oldPage;


    }
</script>
   
}



