﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo/css")


</head>
<body style="background-image:url(../../Content/Images/bg.png); background-repeat:repeat">

    <div class="container" style="align-content:center ;width:1000px;">

        <img src="~/Content/Images/tt.png" style="border-radius: 10px 10px 0px;align-self:center " />


        <div class="navbar" role="navigation" style="width:1000px;border-radius:0px 0px 20px 20px;background-image:url(../../Content/Images/men.png);background-repeat:repeat">


            <ul class="nav nav-pills pull-right " style="font-size:smaller">

                <li class="btn-warning btn-sm" style="text-emphasis-color:brown ; border-radius:5px"><a style="color:black " href="~/Main/AboutUs"> @PublicWebSite.Resources.Common.AboutUs </a> </li>
                <li class="btn-warning btn-sm" style="text-emphasis-color:brown ; border-radius:5px"><a style="color:black " href="~/Main/ContactUs"> @PublicWebSite.Resources.Common.ContactUs </a> </li>


                @Html.Action("LoadArticles", "Partials")

                <li class="btn-warning btn-sm" style="text-emphasis-color:brown ; border-radius:5px"><a style="color:black " href="~/Main/News"> @PublicWebSite.Resources.Common.News </a> </li>
                <li class="btn-warning btn-sm" style="text-emphasis-color:brown ; border-radius:5px"><a style="color:black " href="~/Main/Index"> @PublicWebSite.Resources.Common.Heme </a> </li>

            </ul>

        </div>


        <div class="row">

            <div class="container body-content" style="width:1000px">

                <div style="width:1000px;align-items:center">

                    <div style="width:220px;float:left;margin-right:5px">@Html.Action("LoadNews", "Partials") <br /> @Html.Action("LoadLinks", "Partials")</div>

                    <div style="width:600px;float:left ;margin-right:5px">@RenderBody()</div>

                    <div style="width:170px">@Html.Action("LogOnPartial", "Partials") </div>

                </div>
            </div>
        </div>
        <div class="row">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - @PublicWebSite.Resources.Common.MainPageFooter</p>
            </footer>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
