﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @PublicWebSite.Resources.Common.ControlPanelTitle</title>

    @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")

    </head>

<body style="background-image:url(../../Content/Images/bg.png); background-repeat:repeat">

    <nav class="navbar navbar-inverse" role="navigation" style="font-size:smaller">
        <ul class="nav navbar-nav pull-right">
            <li>@Html.ActionLink(@PublicWebSite.Resources.Common.BackToMainPage, "Index", "Main")</li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">تنظیمات محتوا <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">

                    <li>@Html.ActionLink(@PublicWebSite.Resources.Common.Heme, "MainPage", "Home")</li>
                    <li>@Html.ActionLink(@PublicWebSite.Resources.Common.AboutUs, "About", "Home")</li>
                    <li>@Html.ActionLink(@PublicWebSite.Resources.Common.ContactUs, "Contact", "Home")</li>
                    <li>@Html.ActionLink(@PublicWebSite.Resources.Common.Factors, "Index", "SystemConstant")</li>
                    <li>@Html.ActionLink(@PublicWebSite.Resources.Common.LinList, "Index", "LinkList")</li>

                </ul>
            </li>

            <li>@Html.ActionLink(@PublicWebSite.Resources.Common.Articles, "Index", "Articles")</li>
            <li>@Html.ActionLink(@PublicWebSite.Resources.Common.ElectronicBill.ToString(), "Index", "UsersPayment")</li>
            <li>@Html.ActionLink(@PublicWebSite.Resources.Common.Messages, "Index", "Message")</li>
            <li>@Html.ActionLink(@PublicWebSite.Resources.Common.News, "Index", "News")</li>
            <li>@Html.ActionLink(@PublicWebSite.Resources.Common.UsersList.ToString(), "Index", "users")</li>
            <li>@Html.ActionLink(@PublicWebSite.Resources.Common.ContactUsList, "Index", "ContactUsList")</li>
            <li>@Html.ActionLink("خانه", "Index", "Home") </li>

        </ul>

    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @PublicWebSite.Resources.Common.ControlPanelTitle</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
