﻿@model IEnumerable<PublicWebSite.Models.News>
<div class="panel panel-primary" style="direction: rtl; width: 100%;">
    <div class="panel-heading" style="text-align: center">آخرین اخبار</div>
    <div class="panel-body" >
        @foreach (var item in Model)
{
    <div style="text-align:right">
        
        <img src="~/Content/Images/News.png"  width="30px" height="30px"/>
        <a href="~/Main/ReadNews/@item.Id">@item.Title</a>   
        <hr>
    </div>
}
    </div>

</div>


