﻿@model IEnumerable<PublicWebSite.Models.Link>
<div class="panel panel-success" style="direction: rtl; width:100%;">
    <div class="panel-heading" style="text-align: center">@PublicWebSite.Resources.Common.UsefulLinks</div>
    <div class="panel-body">
        @foreach (var item in Model)
        {
            <div style="text-align:right">

                <img src="~/Content/Images/Link.png" width="30px" height="30px" />
                <a href=@item.LinkAddress>@item.Title</a>
                <hr>
            </div>
        }
    </div>

</div>