﻿@model IEnumerable<PublicWebSite.Models.ContentPage>
<li class="dropdown btn-warning btn-sm">
    <a style="color:black" href="#" class="dropdown-toggle" data-toggle="dropdown">@PublicWebSite.Resources.Common.Articles <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">

        @foreach (var item in Model)
        {
            <li><a href="~/Main/ReadArticle/@item.Id">@item.Title</a></li>
        }
    </ul>
</li>

