﻿@model PublicWebSite.Models.UserInfo
<div style="float:left">
    <div class="panel panel-info" style="direction: rtl;width: 100%;">
        <div class="panel-heading" style="text-align: center">ورود اعضاء سایت</div>
        <div class="panel-body" style="text-align:right;font-size:small">
            @if (Request.IsAuthenticated)
            {
                <text><img src="../../Content/images/OnlineUser.png" />&nbsp;&nbsp;&nbsp;<b>@Context.User.Identity.Name</b>
                [ @Html.ActionLink(@PublicWebSite.Resources.Common.LogOut, "LogOff", "Main") ]</text>
                <br />
                <br />
                <text><img src="../../Content/images/ChangePassword.png" width="30px" height="30px" />&nbsp;&nbsp;&nbsp;
                    [ @Html.ActionLink(@PublicWebSite.Resources.Common.ChangePassword, "ChangePassword", "Main") ]</text>
                <br />
                <hr />

                if (Session["UserEmails"] != null)
                {
                    <img src="../../Content/Images/NotReadMail.png" width="30px" height="30px" />
                    <a href="/Main/ShowUserMessages">@Session["UserEmails"].ToString()</a>
                    <br />

                }

                <a href="~/MessagesOfUser/Index"><span class="glyphicon glyphicon-envelope btn-lg" style="color:green"></span> ارسال پیام</a>
                <br />
                <hr />

                if (Session["AdminLink"] != null && Session["AdminLink"] != string.Empty && User.Identity.Name == "admin")
                {
                    <img src="../../Content/Images/Admin.png" width="30px" height="30px" />
                    <a href="/Home/Index">@Session["AdminLink"].ToString()</a>
                    <br />

                }
                if (User.Identity.Name != "admin")
                {
                    if (Session["UserPayments"] != null && Session["UserPayments"] != string.Empty)
                    {
                        <img src="../../Content/Images/Payments.png" width="30px" height="30px" />
                        <a href="/Main/UserPayments">@Session["UserPayments"].ToString()</a>
                        <br />

                    }

                    if (Session["UserBill"] != null && Session["UserBill"] != string.Empty)
                    {
                        <img src="../../Content/Images/PayCard.png" width="30px" height="30px" />
                        <a href="/Main/UsersBill">@Session["UserBill"].ToString()</a>

                    }

                }

            }
            else
            {

                <div style="height: auto; text-align: right;">
                    <!-- BEGIN MENU Register -->
                    @Html.ValidationSummary(true, @PublicWebSite.Resources.Common.LoginUnsuccessfull)
                    @using (Html.BeginForm())
                {
                <div>
                    <table cellpadding="4" dir="rtl" >
                        <tr>
                            <td align="right" class="text-right">
                                @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                            </td>
                            <td align="right">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                <span>
                                    @Html.ValidationMessageFor(m => m.UserName)
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td align="right">
                                @Html.LabelFor(m => m.UserPassword, new { @class = "control-label" })
                            </td>
                            <td align="right">
                                @Html.PasswordFor(m => m.UserPassword, new { @class = "form-control" })
                                <span>
                                    @Html.ValidationMessageFor(m => m.UserPassword)
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @if (Session["LoginError"] != null && Session["LoginError"].ToString() != "")
                                    {
                                    <div class="label label-default" role="alert">

                                        @Session["LoginError"].ToString()
                                    </div>
                                        Session.Add("LoginError", "");
                                    }
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2" align="left">
                                <input type="submit" style="width:100px;" value="@PublicWebSite.Resources.Common.UserLogIn" class="btn btn-primary" />
                            </td>
                        </tr>
                    </table>
                </div>
                }
                    <!-- END MENU -->
                </div>


            }
            <br />
            <br />
        </div>

    </div>


    <div style="align-content:center ;float:left;margin-left:30px">
        <a href="http://http://www.behpardakht.com/">  <img src="~/Content/Images/BPMLogo.png" style="width:100px;margin-left:10px" /></a>
</div>
   
</div>