﻿@model PagedList.IPagedList<PublicWebSite.Models.Message>
@using PagedList.Mvc;


@{
    if (ViewBag.massage1 == "0")
    {
     
        <div class=" alert alert-success alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            پیام با موفقیت ارسال گردید
        </div>
    }

    ViewBag.Title = @PublicWebSite.Resources.Common.Messages;

}
    
    
@{ if (ViewBag.massage1 == "1")
 {<div class=" alert alert-danger alert-dismissible text-center" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>به دلیل ارسال این پیام به دیگر کاربران امکان حذف وجود ندارد</div>}

}


<h2>@PublicWebSite.Resources.Common.MessagesList</h2>

<a href="~/Message/Create" class="btn btn-warning" role="button"> @PublicWebSite.Resources.Common.New </a>

<h2></h2>
<!--  p>
    Html.ActionLink(@PublicWebSite.Resources.Common.New, "Create")
</!-p>
    -->

<h2></h2>

<table class="table table-hover text-center">
    <tr>
        <th class="text-center">
            @Html.ActionLink(@PublicWebSite.Resources.Common.MessageTitle, "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th class="text-center">
            @Html.ActionLink(@PublicWebSite.Resources.Common.InsertDate, "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th class ="text-center">تنظیمات</thclass>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @PublicWebSite.Utility.DateTimeUtility.GetPersianDate(item.InsertDate)
            </td>
            <td class="text-center">
                @Html.ActionLink(@PublicWebSite.Resources.Common.Edit, "Edit", new { id = item.Id }) |
                @Html.ActionLink(@PublicWebSite.Resources.Common.Delete, "Delete", new { id = item.Id })|
                @Html.ActionLink(@PublicWebSite.Resources.Common.SenMessage, "SendMessage", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<hr />
@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

