﻿@model IEnumerable<PublicWebSite.Models.UserInfo>
@{
    ViewBag.Title = @PublicWebSite.Resources.Common.SenMessage;
}

<h2>@PublicWebSite.Resources.Common.SenMessage</h2>

<div>
    <hr />
    <dl class="dl-horizontal">


        <dd>
            <h3>
                @ViewBag.MessageTitle
            </h3>
        </dd>

        <dd>
            <p>
                @Html.Raw(ViewBag.MessageBody)
            </p>
        </dd>


    </dl>

    <hr />
    <h3>@PublicWebSite.Resources.Common.SelectPeopleToSendMessage</h3>
    <br/>
    


    @using (Html.BeginForm())
    {
         
    WebGrid grid = new WebGrid(Model, selectionFieldName: "SelectedRow");
    @grid.GetHtml(
        columns: grid.Columns(
            grid.Column("", header: null, format: @<text><input class="check-box" id="assignChkBx" name="assignChkBx" type="checkbox" value="@item.Id" /></text>),
            grid.Column("", format: @<text>@item.Name</text>),
            grid.Column("", format: @<text>@item.Family</text>)
                        )
                    )

       <h2></h2> 
        <div class="form-actions no-color">
            <input type="hidden" value=@ViewBag.MessageId name="messageid" />
            <input type="submit" value=@PublicWebSite.Resources.Common.SenMessage class="btn btn-default" /> |
            <a href="~/Message/Index" class="btn btn-primary  " role="button">
                @PublicWebSite.Resources.Common.BackToList
                <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
        </div>
    }
</div>
