﻿@model IEnumerable<PublicWebSite.Models.ContactUs>
@{
    ViewBag.Title = @PublicWebSite.Resources.Common.ContactUsList;
    
}

<h2>@PublicWebSite.Resources.Common.ContactUsList از بخش تماس با ما</h2>
<div id="printDiv">
    <table class="table">
        <tr class="h4">
            <td>@PublicWebSite.Resources.Common.InsertDate</td>
            <td>
                @PublicWebSite.Resources.Common.Title
            </td>
            <td>
                @PublicWebSite.Resources.Common.Email
            </td>
            <td>
                @PublicWebSite.Resources.Common.EmailBody
            </td>

            
            

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @PublicWebSite.Utility.DateTimeUtility.GetPersianDate(item.InsertDate) 
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Body
                </td>
            </tr>
        }

    </table>

</div>

