﻿@model PublicWebSite.Models.UserInfo

@{
    ViewBag.Title = @PublicWebSite.Resources.Common.CreateUser;
}

@{ if (ViewBag.alt == 1)
 {<div class=" alert alert-danger alert-dismissible text-center" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>این نام کاربری قبلا ثبت شده</div>}

}
<h2>@PublicWebSite.Resources.Common.CreateUser</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4> @PublicWebSite.Resources.Common.UserInfo</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Family, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Family)
            </div>
            @Html.LabelFor(model => model.Family, new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserEmail)
            </div>
            @Html.LabelFor(model => model.UserEmail, new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserPassword)
            </div>
            @Html.LabelFor(model => model.UserPassword, new { @class = "control-label col-md-2" })
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@PublicWebSite.Resources.Common.Insert class="btn btn-default" />
                <a href="~/Users/Index/" class="btn btn-primary  " role="button">
                    @PublicWebSite.Resources.Common.BackToList
                    <span class="glyphicon glyphicon-circle-arrow-left"></span>
                </a>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
