﻿@model PublicWebSite.Models.UserInfo

@{
    ViewBag.Title = @PublicWebSite.Resources.Common.Delete;
}

<h2>@PublicWebSite.Resources.Common.Delete</h2>

<h3>@PublicWebSite.Resources.Common.DeleteConfirm</h3>
<div  >
    <h4>@PublicWebSite.Resources.Common.UserInfo</h4>
    <hr />

    <dl class="list-group" style="text-align:right">
        <dt >
            @Html.DisplayNameFor(model => model.Name)
        :
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Family)
       :
            @Html.DisplayFor(model => model.Family)
        </dd>

        <dt>
            <b>  @Html.DisplayNameFor(model => model.UserName)</b>:@Html.DisplayFor(model => model.UserName)
        </dd>




    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@PublicWebSite.Resources.Common.Delete class="btn btn-default" /> |
            <a href="~/Users/Index" class="btn btn-primary  " role="button">
                @PublicWebSite.Resources.Common.BackToList
                <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
        </div>
    }
</div>
