﻿@model PublicWebSite.Models.UserInfo

@{
    ViewBag.Title = @PublicWebSite.Resources.Common.Edit;
}

<h2>@PublicWebSite.Resources.Common.Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@PublicWebSite.Resources.Common.UserInfo</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
           
            <div class="col-md-10">
                <input type="text" value="@Model.Name" name="Name" id="Name" class="form-control" />
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            
            <div class="col-md-10">
                <input type="text" value="@Model.Family" name="Family" id="Family" class="form-control" />
                @Html.ValidationMessageFor(model => model.Family)
            </div>
            @Html.LabelFor(model => model.Family, new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group ">
            <div class="col-md-9 col-lg-offset-1">
             <input type="text" value="@Model.UserEmail" name="UserEmail" id="UserEmail" class="form-control" />
                @Html.ValidationMessageFor(model => model.UserEmail)
            </div>  
              @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "control-label col-md-2" })
           
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="text" value="@Model.UserName" disabled="disabled" class="form-control" />
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            
            <div class="col-md-10">
                @Html.DisplayFor(model => model.UserPassword)
                
            </div>
            @Html.LabelFor(model => model.UserPassword, new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@PublicWebSite.Resources.Common.Edit class="btn btn-default" />
               
                 <a href="~/Users/Index" class="btn btn-primary  " role="button">
                    @PublicWebSite.Resources.Common.BackToList
                    <span class="glyphicon glyphicon-circle-arrow-left"></span>
                </a>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

