﻿@model PagedList.IPagedList<PublicWebSite.Models.UserInfo>
@using PagedList.Mvc;



@{
    if (ViewBag.massage1 == "0")
    { <div class=" alert alert-success alert-dismissible text-center" role="alert"> <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> تغییرات با موفقیت ثبت گردید </div>}

     if (ViewBag.massage1 == "1")
 {<div class=" alert alert-danger alert-dismissible text-center" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>امکان حذف کاربروجود ندارد</div>}
    ViewBag.Title =@PublicWebSite.Resources.Common.UsersList;
}

<h2>@PublicWebSite.Resources.Common.UsersList</h2>

<p>
    <a href="~/users/Create/" class="btn-warning btn" role="button">@PublicWebSite.Resources.Common.CreateUser </a>
</p>
<table class="table table-hover">
    <tr>
        <th class="text-center">
            @Html.ActionLink(@PublicWebSite.Resources.Common.CompanyName, "Index", new { sortOrder = ViewBag.UserNameSortParm })
        </th>
        <th class="text-center">
            @Html.ActionLink(@PublicWebSite.Resources.Common.ManagerName, "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th class="text-center">
            @Html.ActionLink(@PublicWebSite.Resources.Common.UserName, "Index", new { sortOrder = ViewBag.FamilySortParm })
        </th>
       
        <th class="text-center">
            @PublicWebSite.Resources.Common.UserType
        </th>
        <th class="text-center"> تنظیمات</th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Family)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td class="text-center">
              
               
       @{ var type="";
           if (item.UserType == 1)
           {type="کاربر عادی";}
           else
           {type="مدیر";} }       
        
                  @type
            </td>
            <td class ="text-center">
                @Html.ActionLink(@PublicWebSite.Resources.Common.Edit, "Edit", new { id = item.Id }) |
                @Html.ActionLink(@PublicWebSite.Resources.Common.Delete, "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<hr />
@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


