﻿@model PublicWebSite.Models.ContentPage

@{
    ViewBag.Title = @PublicWebSite.Resources.Common.Articles;
}
<script src="~/Content/tinymce/tinymce.min.js"></script>

<script type="text/javascript">
    tinymce.init({
        selector: ".tinymce",
        theme: "modern",
        plugins: [
            "directionality advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "emoticons template paste textcolor colorpicker textpattern"
        ],
        toolbar1: "bold italic underline | alignleft aligncenter alignright alignjustify | ltr rtl | forecolor backcolor | styleselect | fontselect | fontsizeselect",
        toolbar2: "undo redo | bullist numlist outdent indent | link image media | print preview | copy paste | ",
        font_formats:
            "Arial=arial,helvetica,sans-serif;" +
                "Courier New=courier new,courier;" +
                "Georgia=georgia,palatino;" +
                "Symbol=symbol;" +
                "Tahoma=tahoma,arial,helvetica,sans-serif;" +
                "Times New Roman=times new roman,times;" +
                "Verdana=verdana,geneva;" +
                "Webdings=webdings;" +
                "Wingdings=wingdings,zapf dingbats",


        file_browser_callback: RoxyFileBrowser,
        image_advtab: true

    });

    function RoxyFileBrowser(fieldName, url, type, win) {

        var roxyFileman = '../../Content/tinymce/fileman/index.html';
        if (roxyFileman.indexOf("?") < 0) {
            roxyFileman += "?type=" + type;
        }
        else {
            roxyFileman += "&type=" + type;
        }
        roxyFileman += '&input=' + fieldName + '&value=' + document.getElementById(fieldName).value;
        tinyMCE.activeEditor.windowManager.open({
            file: roxyFileman,
            title: 'Roxy Fileman',
            width: 850,
            height: 650,
            resizable: "yes",
            plugins: "media",
            inline: "yes",
            close_previous: "no"
        }, { window: win, input: fieldName });
        return false;
    }

</script>
<h2>@PublicWebSite.Resources.Common.Articles</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Body, 10, 20, new { @class = "tinymce" })
                @Html.ValidationMessageFor(model => model.Body)
            </div>
            @Html.LabelFor(model => model.Body, new { @class = "control-label col-md-2" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@PublicWebSite.Resources.Common.Edit class="btn btn-default" />
                <a href="~/Articles/Index" class="btn btn-primary  " role="button">
                    @PublicWebSite.Resources.Common.BackToList
                    <span class="glyphicon glyphicon-circle-arrow-left"></span>

                </a>
            </div>
        </div>
    </div>
}

   

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
