﻿@model PublicWebSite.Models.ContentPage

@{
    ViewBag.Title = @PublicWebSite.Resources.Common.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>@PublicWebSite.Resources.Common.DeleteConfirm</h3>
<div>
    <hr />
    <h3>@Html.DisplayFor(model => model.Title)</h3>
    <p>@Html.Raw(Model.Body)</p>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
           
                <a href="~/Articles/Index" class="btn btn-primary  " role="button">
                    @PublicWebSite.Resources.Common.BackToList
                    <span class="glyphicon glyphicon-circle-arrow-left"></span>

                </a>
            
        </div>
    }
</div>
