﻿@model IEnumerable<PublicWebSite.Models.ContentPage>

@{
    ViewBag.Title = @PublicWebSite.Resources.Common.ArticleList;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@PublicWebSite.Resources.Common.ArticleList</h2>

<a href="~/Articles/Create" class="btn btn-warning" role="button"> @PublicWebSite.Resources.Common.CreateArticle </a>
<h2></h2>
<table class="table table-hover">
    <tr>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th style="text-align:center"> تنظیمات</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td style="text-align:center">
            @Html.ActionLink(@PublicWebSite.Resources.Common.Edit, "Edit", new { id = item.Id }) |
            @Html.ActionLink(@PublicWebSite.Resources.Common.Delete, "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
