﻿@model IEnumerable<PublicWebSite.Models.UsersPayment>


<table class="table table-hover">
    <tr>
        <th class="text-center">
            شناسه پرداخت
        </th>

        <th class="text-center">
            @PublicWebSite.Resources.Common.Price
        </th>
        <th class="text-center">
            @PublicWebSite.Resources.Common.PayDate
        </th>
        <th class="text-center">
           شماره تراکنش
        </th>

        <th class="text-center">
            کد پیگیری
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>

        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td class="text-center">
            @PublicWebSite.Utility.DateTimeUtility.GetPersianDate(item.PayedDate.AsDateTime()).ToString()
            ساعت 
            @item.PayedDate.AsDateTime().Hour : @item.PayedDate.AsDateTime().Minute
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.rfid)
        </td>
        <td class="text-center">
            @item.ResponseCode
        </td>
    </tr>
}

</table>
