﻿@model IEnumerable<PublicWebSite.Models.UsersBill>


<table class="table">
    <tr>
        <th class="text-center">
            @PublicWebSite.Resources.Common.Title
        </th>
        <th class="text-center">
           @PublicWebSite.Resources.Common.Price
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Sum)
        </th>
        <th class="text-center">
            @PublicWebSite.Resources.Common.InsertDate
        </th>
     
    </tr>


@foreach (var item in Model) {
    <tr>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.SaleOrderId)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Sum)
        </td>
        <td class="text-center">
            @PublicWebSite.Utility.DateTimeUtility.GetPersianDate(item.InsertDate).ToString()
        </td>

    </tr>
}

</table>
