﻿
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>


<div class="col-md-3">@Html.Partial("DetailsOfPay", new { id = @ViewBag.id })</div>
<div class="col-md-3">@Html.Partial("DetailsOfBill", new { id = @ViewBag.id })</div>