﻿@model IEnumerable<PublicWebSite.Utility.Info>

@{
    ViewBag.Title = PublicWebSite.Resources.Common.ElectronicBill;
  
    double totalIsPayed = 0;
    
    double totalIsNotPayed = 0;
  
    double IsPayed = 0;

    double IsNotPayed = 0;
 }

<h2>لیست صورت حساب شرکتها</h2>
<div>
    <table class="table table-hover">
        <tr class="h4">
            <td style="text-align:center">
               نام شرکت
            </td>
            <td style="text-align:center">
                @PublicWebSite.Resources.Common.IsPayed
            </td>
            <td style="text-align:center">
                @PublicWebSite.Resources.Common.IsNotPayed
            </td>

            <td style="text-align:center">
                مجموع
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">
                   @item.user.Name
                    @item.user.Family
                    @{
            totalIsNotPayed = totalIsNotPayed + item.notpeayd;
            totalIsPayed = totalIsPayed + item.peayd;
                    }
                </td>

                <td style="text-align:center " dir="rtl"> <span style="color: green"> @item.peayd.ToString("##,###")+</span> ریال</td>
                <td style="text-align:center" dir="rtl"> <span style="color: red"> @item.notpeayd.ToString("##,###")-</span> ریال</td>
                <td style="text-align:center;direction:rtl" dir="rtl"> <span style="color: red"> @item.rez.ToString("##,###")</span> ریال</td>

                <td>
                    @Html.ActionLink(@PublicWebSite.Resources.Common.UserBillNew, "New", new { id = item.user.Id })
                </td>
                <td>
                    @Html.ActionLink("ریز پرداختی", "DetailsOfPay", new { id = item.user.Id })
                </td>
                <td>
                    @Html.ActionLink("ریز بدهی", "DetailsOfBill", new { id = item.user.Id })
                </td>

            </tr>
          
        }

    </table>
    <hr/>
    @if(totalIsNotPayed>0)
    { 
        <span style="color: red">@string.Format("مجموع کل بدهی به سیستم {0} ریال",totalIsNotPayed.ToString("##,###"))</span>
    }
    <br/>
    @if(totalIsPayed>0)
    { 
        <span style="color: green">@string.Format("مجموع کل بستانکاری از سیستم {0} ریال", totalIsPayed.ToString("##,###"))</span>
    }
</div>

<hr/>
<div style="text-align:center">
    <input type="button" style="width:100px;" value="@PublicWebSite.Resources.Common.Print" class="btn btn-primary" onclick="printDiv('printDiv');" />
</div>



@section scripts
{
    <script language="javascript" type="text/javascript">
        function printDiv(divId) {
            //Get the HTML of div
            var divElements = document.getElementById(divId).innerHTML;
            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;

            //Reset the page's HTML with div's HTML only
            document.body.innerHTML =
              "<html><head><title></title></head><body>" +
              divElements + "</body>";

            //Print Page
            window.print();

            //Restore orignal HTML
            document.body.innerHTML = oldPage;


        }
    </script>
}



<div hidden="hidden" id="printDiv">
    
    <h2>لیست صورت حساب شرکتها</h2>
        
    <table class="table table-bordered">
        <tr class="text-center">


        <tr class="h4">
            <td style="text-align:center">
                نام شرکت
            </td>
            <td style="text-align:center">
                @PublicWebSite.Resources.Common.IsPayed
            </td>
            <td style="text-align:center">
                @PublicWebSite.Resources.Common.IsNotPayed
            </td>

            <td style="text-align:center">
                مجموع
            </td>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">
                    @item.user.Name
                    @item.user.Family
                    @{
           IsNotPayed = IsNotPayed + item.notpeayd;
           IsPayed = IsPayed + item.peayd;
                    }
                </td>


                <td style="text-align:center"> <span style="color: green">@item.peayd.ToString("##,###")+</span> ریال</td>
                <td style="text-align:center"> <span style="color: red"> @item.notpeayd.ToString("##,###")-</span> ریال</td>
                <td style="text-align:center"> <span style="color: red">@item.rez.ToString("##,###")</span> ریال</td>

            </tr>
        }
    </table>

    <hr />
    @if (IsNotPayed > 0)
    {
        <span style="color: red">@string.Format("مجموع کل بدهی به سیستم {0} ریال", totalIsNotPayed.ToString("##,###"))</span>
    }
    <br />
    @if (IsPayed > 0)
    {
        <span style="color: green">@string.Format("مجموع کل بستانکاری از سیستم {0} ریال", totalIsPayed.ToString("##,###"))</span>
    }
 </div>
