﻿@{
    ViewBag.Title = @PublicWebSite.Resources.Common.UserBillNew;
}

<h3>@PublicWebSite.Resources.Common.UserBillNew</h3>
<h3><span style="color: royalblue">@ViewBag.UserName</span></h3>

<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('input[type="radio"]').click(function () {
                    if ($(this).attr("value") == "bar") {
                        $(".pay").hide();
                        $(".bar").show();
                        document.getElementById("txt").value="بارنامه";
                        document.getElementById("payed").value =1;
                    }
                    if ($(this).attr("value") == "mbr") {
                        $(".pay").hide();
                        $(".mbr").show();
                        document.getElementById("txt").value = "حق عضویت";
                        document.getElementById("payed").value = 2;
                    }
                    if ($(this).attr("value") == "oth") {
                        $(".pay").hide();
                        $(".oth").show();
                        document.getElementById("txt").value = "";
                        document.getElementById("payed").value = 3;
                    }
                });
            });
        </script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@ViewBag.Id"/>
     <input type="hidden" id="payed" name="payType" value="2" />
    <div class="form-horizontal">

        <hr />

        <div class="row" >
            <div class="col-md-2 col-md-offset-6 text-right">
                <label><input type="radio" name="Radio" value="bar">خرید بارنامه</label>
            </div>
            <div class="col-md-2 text-center">
                <label><input type="radio" name="Radio" value="mbr">حق عضویت</label>
            </div>
            <div class="col-md-1 text-left">
                <label><input type="radio" name="Radio" value="oth">متفرقه</label>
            </div>
            <div class="col-md-1 text-left text-danger"style="font-size:smaller">
                <label><b>نوع بدهی:</b></label>
            </div>
         </div>

       <br />
            
            <div class="form-group">
                <div class="col-md-3 col-md-offset-8">
                    <input type="text"  id="txt"name="Title" class="textbar form-control"/>
                </div>
                <div class="col-md-1 text-left">
                    @PublicWebSite.Resources.Common.Title
                    </div>
                </div>

            <div class=" form-group">
               
                <div class="col-md-3 col-md-offset-8">

                    <input type="text" class="form-control" name="amount" id="text1" onkeypress="return IsNumeric(event);" ondrop="return false;" onpaste="return false;" />

                    <span id="error" style="color: Red; display: none">*شما تنها میتوانید اعداد بین 0تا9 را وارد نمایید</span>
                    <script type="text/javascript">
                        var specialKeys = new Array();
                        specialKeys.push(8); //Backspace
                        function IsNumeric(e) {
                            var keyCode = e.which ? e.which : e.keyCode
                            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
                            document.getElementById("error").style.display = ret ? "none" : "inline";
                            return ret;
                        }
                    </script>

                </div>

                <div class="col-md-1 text-left">
                    <label class="bar pay text-left" hidden="hidden"> تعداد بارنامه</label>
                    <label class="mbr oth pay text-left" hidden="hidden"> مبلغ</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value=@PublicWebSite.Resources.Common.Insert class="btn btn-default" />
                    <a href="~/UsersPayment/" class="btn btn-primary  " role="button">
                        @PublicWebSite.Resources.Common.BackToList
                        <span class="glyphicon glyphicon-circle-arrow-left"></span>
                    </a>
                </div>
            </div>

        </div>


    
}

<div>
    <span style="color: red">@ViewBag.PayResult</span>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function addCommas(n) {
            var s = n.split('.')[1];
            (s) ? s = "." + s : s = "";
            n = n.split('.')[0];
            while (n.length > 3) {
                s = "," + n.substr(n.length - 3, 3) + s;
                n = n.substr(0, n.length - 3);
            }
            return n + s;
        }
    </script>
    
}




