﻿@model PublicWebSite.Models.News

@{
    ViewBag.Title = @PublicWebSite.Resources.Common.Delete;
}

<h2>@PublicWebSite.Resources.Common.Delete</h2>

<h3>@PublicWebSite.Resources.Common.DeleteConfirm</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
       

        <dd>
            <h3>
                @Html.DisplayFor(model => model.Title)
            </h3>
        </dd>

        <dd>
            <p>
                @Html.Raw(Model.Body)
            </p>
        </dd>

       
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@PublicWebSite.Resources.Common.Delete class="btn btn-default" /> |
            @Html.ActionLink(@PublicWebSite.Resources.Common.BackToList, "Index")
        </div>
    }
</div>
