﻿
@model PagedList.IPagedList<PublicWebSite.Models.News>
@using PagedList.Mvc;


@{
    ViewBag.Title = @PublicWebSite.Resources.Common.NewsList;
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<h2>@PublicWebSite.Resources.Common.NewsList</h2>

<a href="~/News/Create" class="btn btn-warning" role="button"> @PublicWebSite.Resources.Common.CreatNews </a>

<h2></h2>

<table class="table table-hover text-center">
    <tr>
        <th class="text-center">
            @Html.ActionLink(@PublicWebSite.Resources.Common.NewsTitle, "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th class="text-center">
            @Html.ActionLink(@PublicWebSite.Resources.Common.InsertDate, "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th class ="text-center"> </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @PublicWebSite.Utility.DateTimeUtility.GetPersianDate(item.InsertDate)
            </td>
            <td>
                @Html.ActionLink(@PublicWebSite.Resources.Common.Edit, "Edit", new { id = item.Id }) |
                @Html.ActionLink(@PublicWebSite.Resources.Common.Delete, "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<hr />
 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
