﻿@model PublicWebSite.Models.Message
@{ Layout = null; 
   
  }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>File Upload MVC 4</title>
    <link href="~/Addons/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Addons/Content/bootstrap/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Addons/Content/jquery.fileupload.css" rel="stylesheet" />
    <script src="~/Addons/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Addons/Scripts/jquery.ui.widget.js"></script>
    <script src="~/Addons/Scripts/bootstrap.min.js"></script>
    <script src="~/Addons/Scripts/jquery.fileupload.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#fileupload').fileupload({
                dataType: 'json',
                url: '/File/UploadFiles',
                autoUpload: true,
                done: function (e, data) {
                    $('.file_name').html(data.result.name);
                    $('.file_type').html(data.result.type);
                    $('.file_size').html(data.result.size);
             
                }
            }).on('fileuploadprogressall', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.progress .progress-bar').css('width', progress + '%');
            });
        });
    </script>
</head>
<body>

    <div class="container">
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
            <input id="fileupload" type="file" name="files[]" multiple>
        </span>
        <br />
        <div class="progress" >
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                <span class="sr-only">0% complete</span>
            </div>
        </div>
        <br />
        <div class="form-group ">
            @Html.EditorFor(model => model.Title, new { @class = "file_name" })
        </div>
        <br />
        <div class="file_type"></div>
        <br />
        <div class="file_size"></div>
    </div>

    @Html.ActionLink("آپلود", "create", "Message", new { name = Model.Title,message= ViewBag.message });
</body>
</html>
