﻿@model PublicWebSite.Models.Message

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}



@{
    ViewBag.Title = @PublicWebSite.Resources.Common.InsertNewMessage;
}
<script src="~/Content/tinymce/tinymce.min.js"></script>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal panel panel-default " style="width:100%">
   
        <div class="panel-heading">ایجاد پیام</div>
        <div class="panel-body">

            @Html.ValidationSummary(true)
            <div class="panel-heading">
            </div>

            <div class="panel-body form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Body, 5, 20, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Body)
                </div>
                @Html.LabelFor(model => model.Body, new { @class = "control-label col-md-2" })
            </div>

           
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value=@PublicWebSite.Resources.Common.Insert class="btn btn-default" />
                </div>
            </div>
        </div>
        </div>
}

<div>
    <a href="~/MessagesOfUser/Index" class="btn btn-primary  " role="button">
        @PublicWebSite.Resources.Common.BackToList
        <span class="glyphicon glyphicon-circle-arrow-left"></span>
       
        </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


