﻿@model PublicWebSite.Models.Message

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@{
    ViewBag.Title = @PublicWebSite.Resources.Common.Delete;
}

<div class="form-horizontal panel panel-warning " style="width:100%">

    <div class="panel-heading">@PublicWebSite.Resources.Common.DeleteConfirm</div>
    <div class="panel-body">

       

        <div>
       
            <dl class="dl-horizontal table-bordered">


                <dd>
                    <br/>
                    <b style="color:orange">
                        @Html.DisplayFor(model => model.Title)
                    </b>
                    <hr />
                </dd>
                
                <dd>
                    <p>
                        @Html.Raw(Model.Body)
                    </p>
                </dd>


            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value=@PublicWebSite.Resources.Common.Delete class="btn btn-default" /> |
                    <a href="~/Message/Index" class="btn btn-primary  " role="button">
                        @PublicWebSite.Resources.Common.BackToList
                        <span class="glyphicon glyphicon-circle-arrow-left"></span>
                    </a>
                </div>
            }
        </div>

</div>
</div>