﻿@model PagedList.IPagedList<PublicWebSite.Models.Message>
@using PagedList.Mvc;


@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


@{ViewBag.Title = @PublicWebSite.Resources.Common.Messages;}

@{ if (ViewBag.massage1 == "0")
 {

    <div class=" alert alert-danger alert-dismissible text-center" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>به دلیل ارسال این پیام به دیگر کاربران امکان حذف وجود ندارد</div>}

}

@{
    if (ViewBag.massage1 == "1")
    {

        <div class=" alert alert-success alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            پیام با موفقیت ارسال گردید
        </div>
    }

    ViewBag.Title = @PublicWebSite.Resources.Common.Messages;

}


<div class="panel panel-warning" style="direction: rtl;width: 100%">
    <div class=" panel-heading">


    @PublicWebSite.Resources.Common.MessagesList
</div>

     <div class="panel-body col-lg-12 ">
       

         <a href="~/MessagesOfUser/Create/" class="btn btn-warning" role="button"> @PublicWebSite.Resources.Common.New </a>
         <h2></h2>

         <table class="table table-hover text-center "style="font-size:small">
             <tr>
                 <th class="text-center">
                     @Html.ActionLink(@PublicWebSite.Resources.Common.MessageTitle, "Index", new { sortOrder = ViewBag.NameSortParm })
                 </th>
                 <th class="text-center">
                     @Html.ActionLink(@PublicWebSite.Resources.Common.InsertDate, "Index", new { sortOrder = ViewBag.DateSortParm })
                 </th>
                 <th></th>
             </tr>

             @foreach (var item in Model)
             {
                 <tr>
                     <td class="text-center">
                         @Html.DisplayFor(modelItem => item.Title)
                     </td>

                     <td class="text-center">
                         @PublicWebSite.Utility.DateTimeUtility.GetPersianDate(item.InsertDate)
                     </td>
                     <td class="text-center">
                       
                         @Html.ActionLink(@PublicWebSite.Resources.Common.Delete, "Delete", new { id = item.Id })|
                         @Html.ActionLink(@PublicWebSite.Resources.Common.SenMessage, "SendMessage", new { id = item.Id })
                     </td>
                 </tr>
             }

         </table>
         <hr />
         @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount

         @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
     </div>
</div>
<div>
    <a href="~/Main/ShowUserMessages" class="btn btn-primary  " role="button">
        @PublicWebSite.Resources.Common.BackToList
        <span class="glyphicon glyphicon-circle-arrow-left"></span>

    </a>
</div>



