﻿
@{
    ViewBag.Title = "SendMessage";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@model IEnumerable<PublicWebSite.Models.UserInfo>
@{
    ViewBag.Title = @PublicWebSite.Resources.Common.SenMessage;
}

<div class="panel panel-success" style="direction: rtl;width: 100%">
    <div class=" panel-heading">


    @PublicWebSite.Resources.Common.SenMessage
    </div>
    

    <div class="panel-body col-lg-12 ">
       
        <dl class="dl-horizontal table-bordered">
          <dd>
                <b>
                @ViewBag.MessageTitle
                </b>
            </dd>

            <dd>
                <p style="color:orange">
                    @Html.Raw(ViewBag.MessageBody)
                </p>
            </dd>


        </dl>

        <div class="panel panel-info" style="direction: rtl;width: 100%;">
            <div class=" panel-heading">
                @PublicWebSite.Resources.Common.SelectPeopleToSendMessage

            </div>
            <div class="panel-body col-lg-12 ">


                @using (Html.BeginForm())
                {

                    WebGrid grid = new WebGrid(Model, selectionFieldName: "SelectedRow");
                    @grid.GetHtml(
        columns: grid.Columns(
            grid.Column("", header: null, format: @<text><input class="check-box" id="assignChkBx" name="assignChkBx" type="checkbox" value="@item.Id" /></text>),
            grid.Column("", format: @<text>@item.Name</text>),
            grid.Column("", format: @<text>@item.Family</text>)
                                                                         )
                                                                     )
                    <hr />

                    <div class="form-actions no-color">
                        <input type="hidden" value=@ViewBag.MessageId name="messageid" />
                        <input type="submit" value=@PublicWebSite.Resources.Common.SenMessage class="btn btn-default" /> |
                        <a href="~/MessagesOfUser/Index" class="btn btn-primary  " role="button">
                            @PublicWebSite.Resources.Common.BackToList
                            <span class="glyphicon glyphicon-circle-arrow-left"></span></a>
</div>
                }

            </div>
            </div>

            </div>

        </div>


