﻿@model PublicWebSite.Models.SystemConstant
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>@PublicWebSite.Resources.Common.Factors</h3>
@using (Html.BeginForm())
{
    <div class="form-horizontal">

        <hr />


        <div class="form-group">
            <div class="col-md-10">
                <input type="text" name="Multiply" class="form-control" value="@Model.Multiply" onkeypress="return IsNumeric2(event);" ondrop="return false;" onpaste="return false;" /><span id="error1" style="color: Red; display: none">*شما تنها میتوانید اعداد بین 0تا9 را وارد نمایید</span>
                
               
                <script type="text/javascript">
                    var specialKeys = new Array();
                    specialKeys.push(8); //Backspace
                    function IsNumeric2(e) {
                        var keyCode = e.which ? e.which : e.keyCode
                        var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
                        document.getElementById("error1").style.display = ret ? "none" : "inline";
                        return ret;
                    }
                </script>
            </div>
            @PublicWebSite.Resources.Common.MultiplyFactor
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@PublicWebSite.Resources.Common.Edit class="btn btn-default" />
            </div>
        </div>
    </div>

}


